<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>HTML Web Server Template</title>
        <link rel="icon" href="img/favicon.png" class="flavicon">
        <meta name="description" content="Here you can customize the description of your site">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" media="screen and (max-width: 1280px)" href="css/mobile.css">
    </head>

    <body>
        <p>Message : <%= message %></p>

        <!-- JS FILES -->
        <script type="text/javascript" src="js/script.js"></script>
    </body>

</html>